*{
    font-family: arial;
}
body{
    background-size: cover;
    background-image: url(../images/fundo.jpg);
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4%;
    grid-gap: 5%;
    justify-content: center;
}
aside{
    padding: 0.8vw;
    position: relative;
}
.modificamentos{
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerDivModificamentos{
    width: 55vh;
    height: 50vh;
    padding: 4vh;
    background-color:rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#profileImage{
    border-radius: 100%;
    width: 30%;
    aspect-ratio: 1/1;
    align-self: center;
    border: 3px solid rgb(197, 197, 197);
}
.pModificamentos{
    color:#af178e;
    font-size: 3vh;
    padding-top: 2vh;
    
}
.pModificamentos span{
    color: rgb(82, 82, 82);
}
#pUsuario{
    text-align: center;
    padding-bottom: 3vh;
    
}
#opcModificamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.buttonGen{
    width: 20vh;
    height: 5vh;
    border: 2px solid #af178e;
    border-radius: 1vh;
    color: #ad1b89;
    font-size: 1.20vw;

}
.buttonGen:hover{

    border: 2px solid #c264ad;
    color:  #c264ad;

}
#btComprarAzul{
    border: 2px solid #037AD5;
    color: #037AD5 ;
}
#btComprarAzul:hover{
    border: 2px solid #5ca2d8;
    color: #5ca2d8 ;
}
#btComprarRosa{
    border: 2px solid #FA83A0;
    color: #FA83A0;
}
#btComprarRosa:hover{
    border: 2px solid #f7abbe;
    color: #f7abbe;
}
#btComprarLaranja{
    border: 2px solid #F48D42;
    color: #F48D42;
}
#btComprarLaranja:hover{
    border: 2px solid #f8ac75;
    color: #f8ac75;
}
#btComprarVerde{
    border: 2px solid #77C651;
    color: #77C651;
}
#btComprarVerde:hover{
    border: 2px solid #93c27d;
    color: #93c27d;
}



#imgAside{

    position: absolute;

}
#selectFiltro{
    color: aliceblue;
    background-color: rgb(56, 56, 56);
}

button{
    border: 1px solid #81013f;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    border: 1px solid #f00b79;
}
.pSobre{
    color: #ade0e1;
    text-align: justify;
}
.produto{
    background-color: rgb(31, 31, 31);
    display: flex;
    border-radius: 1VH;
    
}
.produto div{
    align-self: center;
    height: 80%;
    margin-left: 2%;
    
}
.produto img{
    margin-left: 5%;
    align-self: center;
}
#Azul {
  border: 3px solid #037AD5;
}
#Azul div h3{
  color: #037AD5;
}
#Azul p{
    color: rgb(124, 194, 255);
    text-align: justify;
}

#Verde{
    border: 3px solid #77C651;
}
#Verde h3{
    color: #77C651;
}
#Verde p{
    color: rgb(94, 255, 174);
    text-align: justify;
}

#Laranja{
    border: 3px solid #F48D42;
}
#Laranja h3{
    color: #F48D42;
}
#Laranja p{
    color: rgb(255, 176, 85);
    text-align: justify;
}

#Rosa{
    border: 3px solid #FA83A0;
}
#Rosa h3{
    color: #FA83A0;
}
#Rosa p{
    color: rgb(249, 80, 255);
    text-align: justify;
}
#container{
    display: flex;
    width: 73%;
    flex-direction: column;
}
.a{
    color: rgb(68, 166, 252);
    text-align: justify;
}
