*{
    font-family: arial;
}
body{
    background-size: cover;
    background-image: url(../images/fundo.jpg);
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4%;
    grid-gap: 5%;
    justify-content: center;
}
aside{
    padding: 0.8vw;
    position: relative;
}
.modificamentos{
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerDivModificamentos{
    width: 55vh;
    height: 50vh;
    padding: 5vh;
    background-color:rgb(36, 36, 36);
}
.pModificamentos{
    color: rgb(58, 57, 57);
    font-size: 3vh;
    padding-top: 2vh;
}
.pModificamentos span{
    color: rgb(82, 82, 82);
}
#pUsuario{
    text-align: center;
    padding-bottom: 10vh;
}

#imgAside{

    position: absolute;

}
#selectFiltro{
    color: aliceblue;
    background-color: rgb(56, 56, 56);
}

button{
    border: 1px solid #81013f;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    border: 1px solid #f00b79;
}
.pSobre{
    color: #ade0e1;
}
.produto{
    background-color: rgb(31, 31, 31);
    display: flex;
    border-radius: 1VH;
    
}
.produto div{
    align-self: center;
    height: 80%;
    margin-left: 2%;
    
}
.produto img{
    margin-left: 5%;
    align-self: center;
}
#Azul {
  border: 3px solid #037AD5;
}
#Azul div h3{
  color: #037AD5;
}
#Azul p{
    color: rgb(124, 194, 255);
}

#Verde{
    border: 3px solid #77C651;
}
#Verde h3{
    color: #77C651;
}
#Verde p{
    color: rgb(94, 255, 174);
}

#Laranja{
    border: 3px solid #F48D42;
}
#Laranja h3{
    color: #F48D42;
}
#Laranja p{
    color: rgb(255, 176, 85);
}

#Rosa{
    border: 3px solid #FA83A0;
}
#Rosa h3{
    color: #FA83A0;
}
#Rosa p{
    color: rgb(249, 80, 255);
}




@media (min-width: 768px){
    *{
        margin: 0%;
        font-family: Arial;
    }
    body{
        display: grid;
        grid-template-rows:  10% 5% 1fr 100% 20%;
        margin-left: 6%;
        margin-right: 6%;
        height: 100vh;
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*Style*/
        background-color: rgb(26, 26, 26);
        box-shadow:inset 0px -6px 8px rgb(26, 25, 25);
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }
    nav button{
        width: 7.825%;
        font-size: 1.4vw;
        height: 80%;
        text-align: center;
        padding-top: 0.9vh;
        margin-left: 0.5%;
        margin-right: 0.5%;
        /*Style*/
        background-color: rgb(24, 24, 24);
        color: #81013f;
        border-radius: 3px;
        text-decoration: none;
        
    }
    nav button:hover{
        color: #f00b79;
        background-color:rgb(32, 32, 32) ;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main{
        grid-template-columns: 5% 1fr;
        transition: 500ms;
        display: flex;
        /*Style*/
        background-color: rgb(44, 44, 44);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-radius: 1vh;
        
    }
    

    #main{
        display: grid;
    }
    #sobre{
        /*Style*/
        display: flex;
        flex-direction: column;
        padding: 5%;
    
    }
    #login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
        
    }
    #registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #registro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1; 
        
    }
    #carrinho{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #carrinho div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%; 
        height: 80%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
    }
    #carrinho button{
        width: 20%;
        float: left;
    }
    div input{
        /*Style*/
        background-color: transparent;
        width:75%;
        height: 30px;
        margin: 4px;
        border: none;
        border-bottom: 1px solid rgb(82, 81, 81);
        outline: none;
        color: #8fb9b9; 
        
    }
    #submit{
        border: 2px solid #8fb9b9;
    
    }
    div input:hover{
        border-bottom: 1px solid rgb(168, 166, 166);
        color: #ade0e1; ;
    }
    div #checkPass{
        width: auto;
    }
    aside{
        /*Style*/
        background-color: rgb(31, 31, 31);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;
    }
    article{
         /*Style*/
         background-color: rgb(20, 20, 20);
         box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
         border-top-right-radius: 1vh;
         border-bottom-right-radius: 1vh;
    }
    main:has(aside:hover){
        grid-template-columns: 15% 1fr;
    }
    footer{
        width: 100%;
        margin-top: 5%;
        display: flex;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    body{
        display: grid;
        grid-template-rows:  10% 5% 1fr 100% 20%;
        height: 100vh;
        /*Style*/

    
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*Style*/
        background-color: rgb(26, 26, 26);
        box-shadow:inset 0px -6px 8px rgb(26, 25, 25);
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }
    nav button{
        font-size: 1.7vw;
        width: 7.825%;
        height: 80%;
        text-align: center;
        padding-top: 0.5vh;
        margin-left: 0.5%;
        margin-right: 0.5%;
        /*Style*/
        background-color: rgb(24, 24, 24);
        color: #81013f;
        border-radius: 3px;
        text-decoration: none;
        
    }
    nav button:hover{
        color:#f00b79;
        background-color:rgb(43, 42, 42) ;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main{
        grid-template-columns: 5% 1fr;
        transition: 500ms;
        display: none;
        /*Style*/
        background-color: rgb(44, 44, 44);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-radius: 1vh;
        
    }
    #main{
        display: grid;
    }
    #sobre{
        display: flex;
        flex-direction: column;
        padding: 5%;
    
    }
    #login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #registro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #carrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #carrinho div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 80%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
    }
    #carrinho button{
        width: 20%;
        float: left;
    }
    div input{
        /*Style*/
        background-color: transparent;
        width:75%;
        height: 30px;
        margin: 4px;
        border: none;
        border-bottom: 1px solid rgb(82, 81, 81);
        outline: none;
        color: rgb(70, 69, 69);
        
    }
    div input:hover{
        border-bottom: 1px solid rgb(168, 166, 166);
        color: gray;
    }
    div #checkPass{
        width: auto;
    }
    aside{
        /*Style*/
        background-color: rgb(31, 31, 31);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;

    }
    article{
         /*Style*/
         background-color: rgb(46, 46, 46);
         box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
         border-top-right-radius: 1vh;
         border-bottom-right-radius: 1vh;
    }
    main:has(aside:hover){
        grid-template-columns: 15% 1fr;
    }
    footer{
        width: 100%;
        margin-top: 5%;
        display: flex;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
}
@media (max-width: 425px){
    body{
        display: grid;
        grid-template-rows:  10% 5% 1fr 100% 20%;
        height: 100vh;
        /*Style*/
        background-image: url(../images/fundo.jpg);
    
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*Style*/
        background-color: rgb(26, 26, 26);
        box-shadow:inset 0px -6px 8px rgb(26, 25, 25);
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }
    nav button{
        font-size: 3vw;
        width: 14.825%;
        height: 60%;
        text-align: center;
        padding-top: 0.5vh;
        margin-left: 0.5%;
        margin-right: 0.5%;
        /*Style*/
        background-color: rgb(24, 24, 24);
        color: #81013f;
        border-radius: 3px;
        text-decoration: none;
        
    }
    nav button:hover{
        color: #f00b79;
        background-color:rgb(43, 42, 42) ;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main{
        transition: 500ms;
        display: none;
        /*Style*/
        background-color: rgb(44, 44, 44);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-radius: 1vh;
        
    }
    aside{
        height: 100px;
    }
    #main{
        display: flex;
        flex-direction: column;
    }
    #sobre{
        display: flex;
        /*Style*/
        flex-direction: column;
        padding: 5%;
    
    }
    #login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #registro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #carrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #carrinho div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 80%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
    }
    #carrinho button{
        width: 20%;
        float: left;
    }
    div input{
        /*Style*/
        background-color: transparent;
        width:75%;
        height: 30px;
        margin: 4px;
        border: none;
        border-bottom: 1px solid rgb(82, 81, 81);
        outline: none;
        color: rgb(70, 69, 69);
        
    }
    div input:hover{
        border-bottom: 1px solid rgb(168, 166, 166);
        color: gray;
    }
    div #checkPass{
        width: auto;
    }
    aside{
        height: 100%;
        /*Style*/
        background-color: rgb(31, 31, 31);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;
    }
    article{
        height: 100%;
         /*Style*/
         background-color: rgb(46, 46, 46);
         box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
         border-top-right-radius: 1vh;
         border-bottom-right-radius: 1vh;
    }
    main:has(aside:hover){
        grid-template-columns: 15% 1fr;
    }
    footer{
        width: 100%;
        margin-top: 5%;
        display: flex;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
}
