*{
    font-family: arial;
}
body{
    background-size: cover;
    background-image: url(../images/fundo.jpg);
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4%;
    grid-gap: 5%;
    justify-content: center;
}
aside{
    padding: 0.8vw;
    position: relative;
}
.modificamentos{
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerDivModificamentos{
    width: 55vh;
    height: 50vh;
    padding: 4vh;
    background-color:rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#profileImage{
    border-radius: 100%;
    width: 30%;
    aspect-ratio: 1/1;
    align-self: center;
    border: 3px solid rgb(197, 197, 197);
}
.pModificamentos{
    color:#af178e;
    font-size: 3vh;
    padding-top: 2vh;
    
}
.pModificamentos span{
    color: rgb(82, 82, 82);
}
#pUsuario{
    text-align: center;
    padding-bottom: 3vh;
    
}
#opcModificamentos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.buttonGen{
    width: 20vh;
    height: 5vh;
    border: 2px solid #af178e;
    border-radius: 1vh;
    color: #ad1b89;
    font-size: 1.20vw;

}
.buttonGen:hover{

    border: 2px solid #c264ad;
    color:  #c264ad;

}
#btComprarAzul{
    border: 2px solid #037AD5;
    color: #037AD5 ;
}
#btComprarAzul:hover{
    border: 2px solid #5ca2d8;
    color: #5ca2d8 ;
}
#btComprarRosa{
    border: 2px solid #FA83A0;
    color: #FA83A0;
}
#btComprarRosa:hover{
    border: 2px solid #f7abbe;
    color: #f7abbe;
}
#btComprarLaranja{
    border: 2px solid #F48D42;
    color: #F48D42;
}
#btComprarLaranja:hover{
    border: 2px solid #f8ac75;
    color: #f8ac75;
}
#btComprarVerde{
    border: 2px solid #77C651;
    color: #77C651;
}
#btComprarVerde:hover{
    border: 2px solid #93c27d;
    color: #93c27d;
}



#imgAside{

    position: absolute;

}
#selectFiltro{
    color: aliceblue;
    background-color: rgb(56, 56, 56);
}

button{
    border: 1px solid #81013f;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    border: 1px solid #f00b79;
}
.pSobre{
    color: #ade0e1;
}
.produto{
    background-color: rgb(31, 31, 31);
    display: flex;
    border-radius: 1VH;
    
}
.produto div{
    align-self: center;
    height: 80%;
    margin-left: 2%;
    
}
.produto img{
    margin-left: 5%;
    align-self: center;
}
#Azul {
  border: 3px solid #037AD5;
}
#Azul div h3{
  color: #037AD5;
}
#Azul p{
    color: rgb(124, 194, 255);
}

#Verde{
    border: 3px solid #77C651;
}
#Verde h3{
    color: #77C651;
}
#Verde p{
    color: rgb(94, 255, 174);
}

#Laranja{
    border: 3px solid #F48D42;
}
#Laranja h3{
    color: #F48D42;
}
#Laranja p{
    color: rgb(255, 176, 85);
}

#Rosa{
    border: 3px solid #FA83A0;
}
#Rosa h3{
    color: #FA83A0;
}
#Rosa p{
    color: rgb(249, 80, 255);
}
#container{
    display: flex;
    width: 73%;
    flex-direction: column;
}
.a{
    color: rgb(68, 166, 252);
    text-align: centerw;
} 



@media (min-width: 768px){
    *{
        margin: 0%;
        font-family: Arial;
    }
    body{
        display: grid;
        grid-template-rows:  10% 5% 1fr 120% 20%;
        margin-left: 6%;
        margin-right: 6%;
        height: 100vh;
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*Style*/
        background-color: rgb(26, 26, 26);
        box-shadow:inset 0px -6px 8px rgb(26, 25, 25);
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }
    nav button{
        width: 7.825%;
        font-size: 1.4vw;
        height: 80%;
        text-align: center;
        padding-top: 0.9vh;
        margin-left: 0.5%;
        margin-right: 0.5%;
        /*Style*/
        background-color: rgb(24, 24, 24);
        color: #81013f;
        border-radius: 3px;
        text-decoration: none;
        
    }
    nav button:hover{
        color: #f00b79;
        background-color:rgb(32, 32, 32) ;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main{
        grid-template-columns: 5% 1fr;
        transition: 500ms;
        display: flex;
        /*Style*/
        background-color: rgb(44, 44, 44);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-radius: 1vh;
        
    }
    

    #main{
        display: grid;
    }
    #sobre{
        /*Style*/
        display: flex;
        flex-direction: column;
        padding: 5%;
    
    }
    #login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
        
    }
    #registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #registro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1; 
        
    }
    #carrinho{
        display: flex;
        flex-direction: row;
        padding: 5% 2.5% 5% 2.5%;

    }
    .produtoCarrinho{
        width: 75%;
        height: 25%;
        display: flex;
        flex-direction: row;
        margin-right: 10%;
        background-color: rgb(48, 48, 48);
        padding: 1vh 1vh 1vh 1vh;
        border-radius: 1.5vh;
        margin-bottom: 3px;
    }
    
    .imgProdutoCarrinho{
        padding-right: 3%;
        width: 25%;
    }

    .imgProdutoCarrinho img{ 
        aspect-ratio: 1/1;
        width: 20vh;
        border-radius: 1vh;
    }
    .detalheProduto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
    }
    .detalheProdutoAzul h4{
        color: #0f67aa;
    }
    .detalheProdutoAzul h5{
        color: #225983;
    }
    .detalheProdutoAzul span{
        color: #5ca2d8;
    }
    .detalheProdutoRosa h4{
        color: #f1529f;
    }
    .detalheProdutoRosa h5{
        color: #f361a8;
    }
    .detalheProdutoRosa span{
        color: #b63757;
    }
    .detalheProdutoLaranja h4{
        color: #F48D42;
    }
    .detalheProdutoLaranja h5{
        color: #cc7538;
    }
    .detalheProdutoLaranja span{
        color: #c2590f;
    }
    .detalheProdutoVerde h4{
        color: #77C651;
    }
    .detalheProdutoVerde h5{
        color: #93c27d;
    }
    .detalheProdutoVerde span{
        color: #3d8a1a;
    }
    .opcProdutoCarrinho{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .finalizamento{
        height: 35%;
        width: 27%;
        background-color: rgb(48, 48, 48);
        padding: 3% 2.5% 0% 2.5%;
        border-radius: 1.5vh;
        border: 3px solid #f00b79;
    }
    .finalizamento h2{
        color: #ac0757;
    }
    .finalizamento h4{
        color: #b13471;
    }
    .finalizamento h4 span{
        color: #ad1b89;
        
    }
    #inputDesconto{
        width: 22%;
        height: 10%;
    }
    
    .dtlProduto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 35% 35% 1fr;
        padding: 10% 5% 10% 5%;
        
    }
    .imgProduto{
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 0% 5% 5% 0%;
        display: flex;
        justify-content: center;

    }
    .infoProduto{
        grid-column-end: 3;
        grid-row-end: 2;
    }
    .opcProduto{
        grid-column-end: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .infoAdcProduto{
        grid-row-end: 4;
        grid-column-end: 3;
        grid-column-start: 1;
    }
    div input{
        /*Style*/
        background-color: transparent;
        width:75%;
        height: 30px;
        margin: 4px;
        border: none;
        border-bottom: 1px solid rgb(82, 81, 81);
        outline: none;
        color: #8fb9b9; 
        
    }
    #submit{
        border: 2px solid #8fb9b9;
    
    }
    div input:hover{
        border-bottom: 1px solid rgb(168, 166, 166);
        color: #ade0e1; ;
    }
    div #checkPass{
        width: auto;
    }
    aside{
        /*Style*/
        background-color: rgb(31, 31, 31);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;
    }
    article{
         /*Style*/
         background-color: rgb(20, 20, 20);
         box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
         border-top-right-radius: 1vh;
         border-bottom-right-radius: 1vh;
    }
    main:has(aside:hover){
        grid-template-columns: 15% 1fr;
    }
    footer{
        width: 100%;
        margin-top: 5%;
        display: flex;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    body{
        display: grid;
        grid-template-rows:  10% 5% 1fr 100% 20%;
        height: 100vh;
        /*Style*/

    
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*Style*/
        background-color: rgb(26, 26, 26);
        box-shadow:inset 0px -6px 8px rgb(26, 25, 25);
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }
    nav button{
        font-size: 1.7vw;
        width: 7.825%;
        height: 80%;
        text-align: center;
        padding-top: 0.5vh;
        margin-left: 0.5%;
        margin-right: 0.5%;
        /*Style*/
        background-color: rgb(24, 24, 24);
        color: #81013f;
        border-radius: 3px;
        text-decoration: none;
        
    }
    nav button:hover{
        color:#f00b79;
        background-color:rgb(43, 42, 42) ;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main{
        grid-template-columns: 5% 1fr;
        transition: 500ms;
        display: none;
        /*Style*/
        background-color: rgb(44, 44, 44);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-radius: 1vh;
        
    }
    #main{
        display: grid;
    }
    #sobre{
        display: flex;
        flex-direction: column;
        padding: 5%;
    
    }
    #login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #registro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #carrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #carrinho div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 80%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
    }
    #carrinho button{
        width: 20%;
        float: left;
    }
    div input{
        /*Style*/
        background-color: transparent;
        width:75%;
        height: 30px;
        margin: 4px;
        border: none;
        border-bottom: 1px solid rgb(82, 81, 81);
        outline: none;
        color: rgb(70, 69, 69);
        
    }
    div input:hover{
        border-bottom: 1px solid rgb(168, 166, 166);
        color: gray;
    }
    div #checkPass{
        width: auto;
    }
    aside{
        /*Style*/
        background-color: rgb(31, 31, 31);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;

    }
    article{
         /*Style*/
         background-color: rgb(46, 46, 46);
         box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
         border-top-right-radius: 1vh;
         border-bottom-right-radius: 1vh;
    }
    main:has(aside:hover){
        grid-template-columns: 15% 1fr;
    }
    footer{
        width: 100%;
        margin-top: 5%;
        display: flex;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
}
@media (max-width: 425px){
    body{
        display: grid;
        grid-template-rows:  10% 5% 1fr 100% 20%;
        height: 100vh;
        /*Style*/
        background-image: url(../images/fundo.jpg);
    
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*Style*/
        background-color: rgb(26, 26, 26);
        box-shadow:inset 0px -6px 8px rgb(26, 25, 25);
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }
    nav button{
        font-size: 3vw;
        width: 14.825%;
        height: 60%;
        text-align: center;
        padding-top: 0.5vh;
        margin-left: 0.5%;
        margin-right: 0.5%;
        /*Style*/
        background-color: rgb(24, 24, 24);
        color: #81013f;
        border-radius: 3px;
        text-decoration: none;
        
    }
    nav button:hover{
        color: #f00b79;
        background-color:rgb(43, 42, 42) ;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main{
        transition: 500ms;
        display: none;
        /*Style*/
        background-color: rgb(44, 44, 44);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-radius: 1vh;
        
    }
    aside{
        height: 100px;
    }
    #main{
        display: flex;
        flex-direction: column;
    }
    #sobre{
        display: flex;
        /*Style*/
        flex-direction: column;
        padding: 5%;
    
    }
    #login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #registro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 60%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
        
    }
    #carrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #carrinho div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; 
        height: 80%;
        padding-left: 40px;
    
        /*Style*/
        background-color: rgb(36, 36, 36);
        color: #ade0e1;
    }
    #carrinho button{
        width: 20%;
        float: left;
    }
    div input{
        /*Style*/
        background-color: transparent;
        width:75%;
        height: 30px;
        margin: 4px;
        border: none;
        border-bottom: 1px solid rgb(82, 81, 81);
        outline: none;
        color: rgb(70, 69, 69);
        
    }
    div input:hover{
        border-bottom: 1px solid rgb(168, 166, 166);
        color: gray;
    }
    div #checkPass{
        width: auto;
    }
    aside{
        height: 100%;
        /*Style*/
        background-color: rgb(31, 31, 31);
        box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;
    }
    article{
        height: 100%;
         /*Style*/
         background-color: rgb(46, 46, 46);
         box-shadow:inset 0px 0px 8px rgb(26, 26, 26);
         border-top-right-radius: 1vh;
         border-bottom-right-radius: 1vh;
    }
    main:has(aside:hover){
        grid-template-columns: 15% 1fr;
    }
    footer{
        width: 100%;
        margin-top: 5%;
        display: flex;
        /*Style*/
        background-color: rgb(22, 22, 22);
        box-shadow:inset 0px 6px 8px rgb(26, 25, 25);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }
}
